<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Best Friends!</title>
</head>
<body>
  <h1 th:text="${name}">NAME HERE</h1>
  <p>I've known them for <span th:text="${numberOfYears}">NUM OF YEARS</span> years.</p>
  <p th:text="${whatPersonDoes}">WHAT THAT PERSON DOES</p>
</body>
</html>
