<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>C is for Cookie</title>
</head>
<body>
<link rel="stylesheet" href="/css/cookie.css">
<div>Number of cookies: <div th:text="${numOfCookies}"></div></div>
<div>Monster Name: <div th:text="${monsterName}"></div></div>
<div th:text="${theCookieNameStringVariable}"></div>
<div>It's good enough for me</div>
</body>
</html>
