<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>View Employees</title>
</head>
<body>
<span th:each="employee : ${employees}">
    <div th:text="${'Employee Name: ' + employee.name}"></div>
    <br><div th:text="${'Employee Pay Per Hour: ' + employee.payPerHour}"></div>
</span>
</body>
</html>
